/* Initialize Css */
.masthead {
  background-color: blueviolet;
}
.page-title {
  background-color: antiquewhite;
}
.main-content {
  background-color: rgb(43, 226, 67);
}
.sidebar {
  background-color: rgb(43, 226, 171);
}
.footer {
  background-color: darkgoldenrod;
}
.site {
  width: 100%;
  height: 100%;
  border: 2px dotted blue;
}

/* Grid Layout */
.site {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
}
.masthead {
  grid-column: 2/4;
  grid-row: 2/3;
}
.page-title {
  grid-column: 1/4;
  grid-row: 1/2;
}
.main-content {
  grid-column: 1/2;
  grid-row: 2/4;
}